@import '../../components/variables.css';

.root {
  padding: 0;
  margin: 4px;
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 0 16px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  background: var(--menu-dark-white);
  border: lightgrey 1px solid;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: grey;
}

.input {
  font-size: 16px;
  padding: 10px 0;
  background: var(--menu-dark-white) no-repeat 14px 12px;
  border: lightgrey 1px solid;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
}

.dropdownContent {
  display: none;
  min-width: 200px;
  position: absolute;
  background-color: #f6f6f6;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdownList {
  padding: 0;
  max-height: 400px;
  overflow-x: hidden;
}

.dropdownElement {
  color: black;
  margin: 0;
  padding: 2px 40px;
  text-decoration: none;
  border: none;
  width: 100%;
  display: block;
}

.dropdownElement:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
