@import '../../components/variables.css';

.dropbtn {
  background-color: white;
  padding: 0 16px;
  height: 60px;
  font-size: 16px;
  border: grey 1px solid;
  border-radius: 6px;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: grey;
}

.input {
  border-radius: 3px;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  background: #e7e7e7 no-repeat 14px 12px;
  border: 2px solid;
  width: auto;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.dropdown {
  padding: 0;
  margin: 4px;
  border-radius: 6px;
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  max-width: 300px;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdownList {
  padding: 0;
}

.dropdownElement {
  color: black;
  padding: 0 2px;
  text-decoration: none;
  display: block;
  width: 100%
}

.dropdownElement:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
