@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

table {
  color: #333; /* Lighten up font color */
  font-family: Helvetica, Arial, sans-serif; /* Nicer font */
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  border: 1px solid #ccc;
  height: 30px;
  background: #f3f3f3; /* Light grey background */
  font-weight: bold; /* Make sure they're bold */
}

td {
  border: 1px solid #ccc;
  height: 30px;
  background: #fafafa; /* Lighter grey background */
  text-align: center; /* Center our text */
}
