@import '../../components/variables.css';

.input {
  font-size: 16px;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
  background: #e7e7e7 no-repeat 14px 12px;
  width: auto;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  height: 58px;
  padding: 0;
  margin: 4px;
}
