@import '../../components/variables.css';

.input {
  cursor: pointer;
  font-size: 16px;
  border: gray 1px solid;
  background: lightgray no-repeat 14px 12px;
  width: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 58px;
  padding: 0;
  margin: 4px;
}

.input:hover,
.input:focus {
  background-color: grey;
}
